#!/bin/bash

trap "exit 130" SIGINT
trap "exit 137" SIGKILL
trap "exit 143" SIGTERM

set -o errexit
set -o nounset
set -o pipefail

DIONAEA_JSON='/etc/dionaea.json'


register () {
    local deploy_key="${1:-}"
    local chnserver="${2:-localhost}"
    local json="${3:-dionaea}"
    local hostname="$(hostname -f)"
    local honeypot="dionaea"
    local ip="${4:-}"

    if [[ -z ${deploy_key} ]]
    then
        return 1
    fi

    curl -k -s -X POST -H "Content-Type: application/json" -d "{
      \"name\": \"${hostname}-${honeypot}\",
      \"hostname\": \"$hostname\",
      \"ip\": \"${ip}\",
      \"deploy_key\": \"$deploy_key\",
      \"honeypot\": \"$honeypot\"
    }" ${chnserver}/api/sensor/ > ${json}

}

setup_default_dionaea_cfg () {
    # Set up the default dionaea.cfg
    cp dionaea.cfg dionaea.cfg.orig
    sed -i "s/# listen.addresses=.*/listen.addresses=$LISTEN_ADDRESSES/g" dionaea.cfg
    sed -i "s/# listen.interfaces=.*/listen.interfaces=$LISTEN_INTERFACES/g" dionaea.cfg
    sed -i "s/default.levels=all/default.levels=all,-debug/g" dionaea.cfg
    sed -i "s/# ssl.default.c=GB/ssl.default.c=US/g" dionaea.cfg
    sed -i "s/# ssl.default.cn=/ssl.default.cn=test.example.org/g" dionaea.cfg
    sed -i "s/# ssl.default.o=/ssl.default.o=example.org/g" dionaea.cfg
    sed -i "s/# ssl.default.ou=/ssl.default.ou=test/g" dionaea.cfg
}

setup_dionaea_conf () {

    source {{ sysconfig_dir }}/dionaea

    local uid=${1:-}
    local secret=${2:-}
    local debug=${3:-false}
    local personality=${PERSONALITY:-default}

    pushd /opt/dionaea/etc/dionaea

    if [[ ${personality} == "default" ]] || [ ! -f /opt/personalities/${personality}/dionaea.cfg ]
    then
      setup_default_dionaea_cfg
    else
      cp /opt/personalities/${personality}/dionaea.cfg {{ dionaea_dir }}/etc/dionaea
      for FILE in /opt/personalities/${personality}/services-available/*.yaml
      do
        cp ${FILE} {{ dionaea_dir }}/etc/dionaea/services-available
      done
    fi


    # Remove other handlers and set up hpfeeds if enabled
    rm -f ./ihandlers-enabled/*.yaml
    if [[ ${HPFEEDS_ENABLED} == "true" ]]
    then
      ln -s {{ dionaea_dir }}/etc/dionaea/ihandlers-available/hpfeeds.yaml ./ihandlers-enabled/hpfeeds.yaml
      sed -i "s/server:.*/server: \"${FEEDS_SERVER}\"/g" {{ dionaea_dir }}/etc/dionaea/ihandlers-available/hpfeeds.yaml
      sed -i "s/ident:.*/ident: \"${uid}\"/g" {{ dionaea_dir }}/etc/dionaea/ihandlers-available/hpfeeds.yaml
      sed -i "s/secret:.*/secret: \"${secret}\"/g" {{ dionaea_dir }}/etc/dionaea/ihandlers-available/hpfeeds.yaml
      sed -i "/^\s*dynip_resolve:/s/^/#/g" {{ dionaea_dir }}/etc/dionaea/ihandlers-available/hpfeeds.yaml
      sed -i "s/port:.*/port: ${FEEDS_SERVER_PORT}/g" /opt/dionaea/etc/dionaea/ihandlers-available/hpfeeds.yaml
      sed -i "s|tags:.*|tags: \[${TAGS}\]|g" /opt/dionaea/etc/dionaea/ihandlers-available/hpfeeds.yaml
    fi

    popd
}


main() {
  source {{ sysconfig_dir }}/dionaea

  if [[ ${DEBUG} == "true" ]]
  then
    set -o xtrace
  fi

  local deploy_key=${DEPLOY_KEY:-}
  local chn_server=${CHN_SERVER}
  local feeds_server=${FEEDS_SERVER:-localhost}
  local feeds_server_port=${FEEDS_SERVER_PORT:-10000}
  local json=${DIONAEA_JSON:-dionaea.json}
  local ip=${IP_ADDRESS:-}

  local debug=${DEBUG:-false}

  if [[ -z ${deploy_key} ]]
  then
    echo "[CRIT] - No deploy key found"
    sleep 10
    exit 1
  fi

  # If it doesn't exist or is empty
  if [[ ! -f ${json}  ]] || [[ ! -s ${json} ]]
  then
    register ${deploy_key} ${chn_server} ${json} ${ip}

    return=$?

    if [[ $return -ne 0 ]]
    then
      echo "Failed to register with ${chn_server} using key: ${deploy_key}"
      sleep 10
      exit 1
    fi
  fi

  local uuid=$(python -c "import json;obj=json.load(file('${json}'));print obj['uuid']")

  if [ -z "$uuid" ]
  then
    echo "Could not create sensor using name \"$(hostname -f)\"."
    sleep 10
    exit 1
  else
    echo "Created sensor: " $uuid
  fi

  local uid=$(python -c "import json;obj=json.load(file('${json}'));print obj['identifier']")
  local secret=$(python -c "import json;obj=json.load(file('${json}'));print obj['secret']")

  setup_dionaea_conf ${uid} ${secret}

  exec /opt/dionaea/bin/dionaea -c "/opt/dionaea/etc/dionaea/dionaea.cfg" -u nobody -g nogroup
}


main "$@"
